.git
.gitignore
.env
.env.example
cookies.txt
venv
__pycache__
*.pyc
downloads/
database.db
tqueue.binlog
webhooks_db.binlog
td.binlog
tg-api-workdir/
telegram-bot-api/
docs/
README.md
CLAUDE.md
LICENSE
