BOT_TOKEN=your_bot_token_here
LOCAL_API_SERVER_URL=http://127.0.0.1:8081

# Дані для запуску Local Telegram Bot API Server (отримати на my.telegram.org)
API_ID=your_api_id_here
API_HASH=your_api_hash_here

# Список Telegram ID адміністраторів (через кому)
ADMIN_IDS=12345678,87654321